<h3>An Exercise to Learn Signals</h3>
<p>
  Below is a list of available items and a shopping cart. Modify the code in <i>ShoppingCartService</i> 
  and <i>ShoppingCartComponent</i> so that whenever an item is added to the cart, the total cost and 
  total number of items is updated. Use an effect to disable the Checkout button if no items are in 
  the cart.
</p>
<div class="row">
  <div class="col-6">
    <app-available-items></app-available-items>
  </div>
  <div class="col-6">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>



