<h6>Items in Cart</h6>
<div class="row pb-2">
  <div class="col-5">Total Qty: {{ shoppingCart.totalItemQty() }}</div>
  <div class="col-4">Total Cost: {{ shoppingCart.totalItemCost() | currency }}</div>
  <div class="col-3"><button [disabled]="checkoutDisabled" (click)="checkout()" class="btn btn-sm btn-primary">Check Out</button></div>
</div>
<div *ngFor="let item of shoppingCart.itemsInCart()" class="row pb-2">
  <div class="col-5">{{item.description}} x{{item.quantity}}</div>
  <div class="col-2"><button (click)="shoppingCart.removeItem(item)" class="btn btn-sm btn-danger">Remove</button></div>
</div>    
