<h3>Introduction</h3>
<p>
  Signals are a new feature in Angular 16 currently in <b>Developer Preview</b> (things could change 
  before the official release). They provide a new approach to reactivity with the intention 
  of being used for better change detection and state management.
</p>
<h5>Helpful Resources</h5>
<ul>
  <li><a href="https://www.youtube.com/watch?v=Qy-oUc5eB2M" target="_blank">Video: Change detection and Angular signals in Angular 16</a></li>
  <li><a href="https://www.youtube.com/watch?v=EIF0g9LDHcQ&t=3s" target="_blank">Video: Rethinking reactivity with Angular Signals</a></li>
  <li><a href="https://www.youtube.com/watch?v=EEzDLpIbW9w" target="_blank">Video: Getting started with Angular Signals</a></li>
  <li><a href="https://angular.io/guide/signals" target="_blank">Guide: Angular Signals</a></li>
  <li><a href="https://goo.gle/signals-demo-code" target="_blank">Demo Project: Cipher</a></li>
  <li><a href="https://dev.to/mfp22/signals-make-angular-much-easier-3k9" target="_blank">Signals make Angular MUCH easier</a></li>
  <li><a href="https://www.youtube.com/watch?v=iA6iyoantuo" target="_blank">Video: Why didn't the Angular team just use RxJS instead of Signals?</a></li>
</ul>
