<div class="container mt-3">
  <div class="mt-3 p-4 bg-primary text-white rounded">
    <h1>Angular Signals</h1> 
    <p>An introduction and exercise for learning Angular Signals</p> 
  </div>
  <div class="row mt-2 mb-4">
    <div class="col-3"><a routerLink="intro" routerLinkActive="active-route">Introduction</a></div>
    <div class="col-3"><a routerLink="basics" routerLinkActive="active-route">The Basics</a></div>
    <div class="col-3"><a routerLink="thoughts" routerLinkActive="active-route">Some Thoughts</a></div>
    <div class="col-3"><a routerLink="exercise" routerLinkActive="active-route">An Exercise</a></div>
  </div>
  <router-outlet></router-outlet>
</div>

